// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$black: #000;
// Grays
$gray-5b: #5b5b5b;
$gray-65: #65646b;
$gray-89: #898574;
$gray-be: #bebebe;
$gray-c2: #c2c0b8;
$gray-c4: #c4c2b9;
$gray-f4: #f4f3f0;
$gray-f9: #f9edd3;
$gray-cc: #ccc;
$gray-00: #003820;
$gray-92: #929292;
$gray-e6: #e6e6e6;
$gray-75: #757575;
$gray: #3f3f3f;
$gray-fc: #fcfcfc;
$gray-f5: #f5f5f5;
$gray-99: #999;
$gray-33: #333;
$gray-22: #222;
$gray-92: #929292;
$gray-d8: #d8d8d8;
// White
$white: #fff;
// Silvers
$silver: #ccc;
// Blues
$blue: #51788d;
$blue-38: #3898ec;
// Green
$green: #043520;
$green-00: #00502d;
$green-43: #43534e;
$green-9d: #9db1ab;
$green-01: #014226;
$green-64: #648f14;
$green-e1: #e1ebdd;
$green-da: #daecd2;
$green-51: #517906;
$green-f7: #f7fcf5;
$green-00: #004e2c;
$green-34: #005c34;
$green-ae: #aec486;

$green-59: #596d67;
$green-bf: #bfd6cf;
$green-b6: #b6d8a7;
// Oranges
$orange-f39: #f39f56;
$orange-f3: #f37735;
$orange: #f17735;
// Teals
$teal-dc: #dce4e7;
$teal-f3: #f3f5f6;
$teal: #6bae92;
// Fetas
$feta: #f9fcec;
// Reds
$red: #b10000;
$red-ce: #ce0707;

// Yellow
$yellow: #e1e100;
// Other
$pigeon-post: #aec9de;
$pigeon-post-light: rgba($pigeon-post, .75);
// Base colors
$primary-color: $green-00;
$primary-color-hover: $green-64;
$text-color: $gray;
