caption {
  @include opensans-bold;
  display: block;
  font-size: rem(20px);
  left: 0;
  line-height: 1.3;
  margin-bottom: rem(25px);
  margin-top: rem(20px);
  padding: rem(0 30px);
  position: absolute;
  top: rem(-75px);

  @include susy-media(tablet) {
    font-size: rem(23px);
  }
}

table {
  margin-bottom: rem(40px);
  margin-top: rem(100px);
  position: relative;
  width: 100%;

  caption {
    position: absolute;
    top: rem(-75px);
  }

  &.field-multiple-table {
    th,
    td {
      width: auto;
    }
  }

  p {
    margin-bottom: 0;
  }

  thead {
    @include opensans-bold;
    background: $green-e1;

    th {
      font-size: rem(15.5px);
      font-weight: 400;
      padding: rem(15px 10px);

      &.header {
        padding: rem(15px 10px);
      }
    }

    a {
      &,
      &:hover,
      &:focus,
      &:visited {
        color: $gray-33;
      }
    }
  }

  tbody {
    tr {
      border-bottom: rem(1px) solid rgba(100, 143, 20, .25);
      font-size: rem(16px);
      line-height: rem(26px);

      &:hover {
        background: $green-f7;
      }
    }

    a {
      // @include fousanmd;
      @include opensans-bold;
      font-size: rem(16px);
      // font-weight: bold;
    }
  }
}

th,
td {
  font-size: rem(15px);
  line-height: rem(21px);
  padding: rem(21px 10px 15px);
  vertical-align: top;
  width: 33.33%;

  &:first-of-type {
    padding-left: rem(30px);
  }

  &:last-of-type {
    padding-right: rem(30px);
  }
}

// Table sort
th {
  &.header {
    padding-right: rem(50px);
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:before,
    &:after {
      @extend %icons;
      position: absolute;
      right: rem(20px);
      top: 0;
    }

    &:before {
      content: '\e901';
      line-height: 4;
    }

    &:after {
      content: '\e900';
      line-height: 3;
    }

    &.headerSortUp {
      &:before {
        content: '';
      }

      &:after {
        line-height: 3.2;
      }
    }

    &.headerSortDown {
      &:before {
        line-height: 3.5;
      }

      &:after {
        content: '';
      }
    }
  }
}


.table-responsive {
  font-size: rem(16px);
  line-height: rem(22px);
  margin-bottom: rem(40px);

  a {
    // @include fousanmd;
    @include opensans-bold;
    font-size: rem(16px);
    word-wrap: break-word;
    // font-weight: bold;
  }

  p {
    margin-bottom: rem(6px);

    &:last-of-type {
      margin-top: rem(17px);
    }
  }

  li {
    border-bottom: rem(1px) solid rgba(100, 143, 20, .25);
    display: block;
    padding: rem(16px 28px 21px);
  }
}
