{% block block404 %}
  <div class="block-404">
    <div class="block-404__wrap">
      <div class="block-404__inner">
        <h1>Vi beklager. Siden blev ikke fundet.</h1>
        <div class="block-404__content">
          <p class="text-large">Den side, du søger, kan være fjernet, ændret eller midlertidig ude af funktion.</p>
          <p>Sådan kommer du videre:<br>Gå til&nbsp;<a class="link--green" href="#">forsiden</a><br>Brug hjemmesidens interne søgemaskine</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
