{% block blockWarning %}
  <div class="block-warning js-close__block">
    <div class="container">
      <div class="block-warning__inner">
        <div class="block-warning__icon icon-info_outline"></div>
        <div class="block-warning__text">Midlertidig afbrydelse af fastnettelefoni – lørdag d. 8/10</div>
        <div class="block-warning__button js-warning__close icon-close"></div>
      </div>
    </div>
  </div>
{% endblock %}
