<div class="container">
  <div class="block-submenu">
    <div class="block-submenu__header js-header">
      <h2 class="block-submenu__title"> Værktøjer</h2>
      <span class="show-all js-show-all">Se alle menupunkter</span>
    </div>
    <ul class="list--icon js-show-content">
      <li><a href="#">Brugeradministration</a></li>
      <li><a href="#">Digitaliserings- og byggeprojekter</a></li>
      <li><a href="#">Digitaleværktøjer</a></li>
      <li><a href="#">It-kontrakter</a></li>
      <li><a href="#">It-sikkerhed</a></li>
      <li><a href="#">Kontakt It-service</a></li>
      <li class="active expanded">
        <a href="#">Adgang til kommunens netværk</a>
        <ul class="list">
          <li class=""><a href="#">Valgt i øjeblikket</a></li>
          <li class=""><a href="#">Gæsteportalen og gæstelogin</a></li>
          <li class="active expanded">
            <a href="#">Gæsteportalen og gæstelogin</a>
            <ul class="list">
              <li class=""><a href="#">Valgt i øjeblikket</a></li>
              <li class="active"><a href="#">Gæsteportalen og gæstelogin</a></li>
            </ul>
          </li>
          <li class=""><a href="#">Gæsteportalen og gæstelogin</a></li>
        </ul>
      </li>
      <li><a href="#">Krav til udstyr</a></li>
      <li class=""><a href="#">Opkobling til netværk</a></li>
      <li><a href="#">Pc, tablet og bredbånd</a></li>
      <li><a href="#">Print, kopi og scanning</a></li>
      <li><a href="#">Servere og restore</a></li>
      <li><a href="#">Software til pc'er</a></li>
    </ul>
  </div>
</div>
