{% block name %}
  <div class="container">
    <div class="block-social">
      <ul class="block-social__list list--inline list--tiny">
        <li class="block-social__item"><a href="#">Print</a></li>
        <li class="block-social__item"><a href="#">Del</a></li>
        <li class="block-social__item block-social__list-sub js-toggle__list-sub"><a href="#">Kontakt</a>
          <div class="box-single-member">
            <div class="box-single-member__inner">
              <div class="box-single-member__image"><img src="http://uploads.webflow.com/57f3afc6fbae76684da14d1a/5811bad47ce93128786adcfb_Anne%20Nielsen.jpg"></div>
              <div class="box-single-member__content">
                <div class="box-single-member__name"><a href="#">Anne Ellegaard</a></div>
                <div class="box-single-member__mail"><a href="#" class="link--underline">nick.ellegaard@frederiksberg.dk</a></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
