{% block profile %}
  <div class="container">
    <div class="block-profile" style="max-width: 760px;">
      <div class="block-profile__image"><img src="http://uploads.webflow.com/57cd1a6ddb4fc5cf017a24df/57dff87125c4cdeb03122403_J%C3%B8rgen-Glenth%C3%B8j_thumb.jpg"></div>
      <div class="block-profile__info">
        <div class="block-profile__info__item"><p>Det Konservative Folkeparti (C)<br>Borgmester<br><br><strong>Formand for:</strong>&nbsp;&nbsp;<br>Magistraten</p></div>
        <div class="block-profile__info__item"><p>Dalgas Boulevard 59, 3.th.<br>2000 Frederiksberg&nbsp;&nbsp;<br>36 16 67 00 /<br>38 21 20 30 (kontor)<br><br><a class="link--underline" href="mailto:">borgmesteren@frederiksberg.dk&nbsp;<br xmlns="http://www.w3.org/1999/xhtml"></a><a class="link--underline" href="mailto:">glenthoj@frederiksberg.dk</a></p></div>
      </div>
    </div>
  </div>
{% endblock %}
