{% block name %}
  <div class="container">
    <div class="block-social">
      <ul class="block-social__list list--inline list--tiny">
        <li class="block-social__item block-social__list-sub js-toggle__list-sub"><a href="#">Del</a>
          <ul>
            <li><a href="#">FACEBOOK</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Google+</a></li>
          </ul>
        </li>
        <li class="block-social__item"><a href="#">PRint</a>
        </li>
        <li class="block-social__item"><a href="#">Abonnér</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
