{% block ListContent %}
  <div class="container">
    <h3>List content</h3>
    <div class="block-list-content">
      <div class="block-list-content__item">
        <div class="meta">
          <div class="meta__item meta__date">18. aug 2016</div>
        </div>
        <h4 class="block-list-content__title"><a href="#">[Løst] Doc2mail er pt. utilgængeligt</a></h4>
      </div>
      <div class="block-list-content__item">
        <div class="meta">
          <div class="meta__item meta__link"><a href="#">SÆLGES</a></div>
          <div class="meta__item meta__date">18. aug 2016</div>
        </div>
        <h4 class="block-list-content__title"><a href="#">[Løst] Doc2mail er pt. utilgængeligt</a></h4>
        <div class="block-list-content__text"><a href="#"><p>Næsten helt ny Dunlopillo boxmadras seng sælges. To enkeltsendge af 80x200. En stor samlet topmadras. Naturlatex med 7 zoner. Hårdhed medium. 3D stof i koksgrå. Stålben H: 20 cm. Samlebeslag så sengen</p></a></div>
      </div>
    </div>
  </div>
{% endblock %}

<div class="container">
  {% block ITDrift %}
    <div style="width: 33.33%; float:left; padding: 0 10px;">
      <div class="block-it-drift bg--light-green factbox factbox--tiny">
        <h2 class="pane-title"><a href="#">IT-drift</a></h2>
        <div class="block-list-content">
          <div class="block-list-content__item">
            <div class="meta">
              <div class="meta__item meta__date">18. aug 2016</div>
            </div>
            <h4 class="block-list-content__title"><a href="#">[Løst] Doc2mail er pt. utilgængeligt</a></h4>
          </div>
          <div class="block-list-content__item">
            <div class="meta">
              <div class="meta__item meta__date">18. aug 2016</div>
            </div>
            <h4 class="block-list-content__title"><a href="#"> Midlertidig afbrydelse af fastnettelefoni – lørdag d. 8/10</a></h4>
          </div>
          <div class="block-list-content__item">
            <div class="meta">
              <div class="meta__item meta__date">18. aug 2016</div>
            </div>
            <h4 class="block-list-content__title"><a href="#"> Leverance problemer med mobiltelefoner</a></h4>
          </div>
        </div>
        <div class="block-it-drift__more-link hidden-on-mobile"><a href="#" class="btn">Se flere</a></div>
      </div>
    </div>
  {% endblock %}

  {% block blockAktivite %}
    <div style="width: 33.33%; float:left; padding: 0 10px;">
      <div class="block-aktivite bg--green factbox factbox--tiny">
        <h2 class="pane-title"><a href="#">Aktivitetskalenderen</a></h2>
        <div class="block-list-content">
          <div class="block-list-content__item">
            <div class="meta meta--text-white">
              <div class="meta__item meta__date">16. sep. 2016  - kl. 15:30</div>
            </div>
            <h4 class="block-list-content__title"><a href="#">[Løst] Doc2mail er pt. utilgængeligt</a></h4>
          </div>
          <div class="block-list-content__item">
            <div class="meta meta--text-white">
              <div class="meta__item meta__date">16. sep. 2016  - kl. 15:30</div>
            </div>
            <h4 class="block-list-content__title"><a>Midlertidig afbrydelse af fastnettelefoni – lørdag d. 8/10</a></h4>
          </div>
          <div class="block-list-content__item">
            <div class="meta meta--text-white">
              <div class="meta__item meta__date">16. sep. 2016  - kl. 15:30</div>
            </div>
            <h4 class="block-list-content__title"><a>Leverance problemer med mobiltelefoner</a></h4>
          </div>
        </div>
        <div class="block-aktivite__more-link hidden-on-mobile"><a href="#" class="btn">Hele kalenderen</a></div>
      </div>
    </div>
  {% endblock %}

  {% block blockMarket %}
    <div style="width: 33.33%; float:left; padding: 0 10px;">
      <div class="block-market bg--marked factbox factbox--tiny">
        <h2 class="pane-title">Markedspladsen</h2>
        <div class="block-list-content">
          <div class="block-list-content__item">
            <div class="meta">
              <div class="meta__item meta__link"><a href="#">SÆLGES</a></div>
              <div class="meta__item meta__date">18. aug 2016</div>
            </div>
            <h4 class="block-list-content__title"><a href="#">[Løst] Doc2mail er pt. utilgængeligt</a></h4>
            <div class="block-list-content__text"><a href="#"><p>Næsten helt ny Dunlopillo boxmadras seng sælges. To enkeltsendge af 80x200. En stor samlet topmadras. Naturlatex med 7 zoner. Hårdhed medium. 3D stof i koksgrå. Stålben H: 20 cm. Samlebeslag så sengen</p></a></div>
          </div>
          <div class="block-list-content__item">
            <div class="meta">
              <div class="meta__item meta__link"><a href="#">SÆLGES</a></div>
              <div class="meta__item meta__date">18. aug 2016</div>
            </div>
            <h4 class="block-list-content__title"><a>Midlertidig afbrydelse af fastnettelefoni – lørdag d. 8/10</a></h4>
            <div class="block-list-content__text"><a href="#"><p>​Ombetrukket ældre møbelsæt sælges, næsten ikke brugt efter ombetrækning. Giv et bud senest fredag den 23. september da lejlighed skal ryddes.</p></a></div>
          </div>
          <div class="block-list-content__item">
            <div class="meta">
              <div class="meta__item meta__link"><a href="#">SÆLGES</a></div>
              <div class="meta__item meta__date">18. aug 2016</div>
            </div>
            <h4 class="block-list-content__title"><a>Leverance problemer med mobiltelefoner</a></h4>
            <div class="block-list-content__text"><a href="#"><p>Ægte ray ban købes 350kr</p></a></div>
          </div>
        </div>
        <div class="block-market__more-link hidden-on-mobile"><a href="#" class="btn">Se flere</a></div>
      </div>
    </div>
  {% endblock %}
</div>
