{% block ListTopic %}
  <div class="container">
    <div class="block-list-topic">
      <div class="block-list-topic__attachment">
        <div class="block-list-topic__image"><img src="https://unsplash.it/428/300"></div>
        <div class="meta">
          <div class="meta__item meta__link"><a href="#">NYHED</a></div>
          <div class="meta__item meta__date">18. aug 2016 </div>
          <div class="meta__item meta__comment-count"><a href="#">2 <i class="icon-bubble"></i></a></div>
        </div>
        <h4 class="block-list-topic__title"><a href="#">Nye velkomstboliger for flygtninge i Centerparken i 2017</a></h4>
        <div class="block-list-topic__content"><a href="#"><p>Rehabiliteringsenhedens lokaler omdannes til midlertidige velkomstboliger for flygtninge i løbet af foråret 2017.</p></a></div>
      </div>

      <div class="block-list-topic__list">
        {% for i in 0..5 %}
          <div class="block-list-topic__item">
            <div class="meta">
              <div class="meta__item meta__link"><a href="#">NYHED</a></div>
              <div class="meta__item meta__date">18. aug 2016 </div>
              <div class="meta__item meta__comment-count"><a href="#">2 <i class="icon-bubble"></i></a></div>
            </div>
            <h4 class="block-list-topic__title"><a href="#">Nye velkomstboliger for flygtninge i Centerparken i 2017</a></h4>
            <div class="block-list-topic__content"><a href="#"><p>Rehabiliteringsenhedens lokaler omdannes til midlertidige velkomstboliger for flygtninge i løbet af foråret 2017.</p></a></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
