{% block blockQuote %}
  <div class="container">
  <p></p>
    <blockquote>Dette er et cirka tal, men kommunen forudser at 2.500.000 kubikmeter indvindes via Frederiksberg Vandværk (Quote)</blockquote>
    <p></p>
  </div>
{% endblock %}
