{% block heroBanner %}
  <div class="container">
    <div class="block-hero">
      <div class="block-hero__item">
        <div class="block-hero__image"><img src="../images/hero-banner.jpg"></div>
        <div class="block-hero__content">
          <div class="block-hero__inner">
            <h3 class="block-hero__title">Få hjælp til Intranettet</h3>
            <div class="block-hero__description"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></div>
          </div>
        </div>
      </div>
      <div class="block-hero__item">
        <div class="block-hero__image"><img src="../images/hero-banner.jpg"></div>
        <div class="block-hero__content">
          <div class="block-hero__inner">
            <h3 class="block-hero__title">Sådan melder du ferie</h3>
            <div class="block-hero__description"><p>Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
