{% block text %}
  <div class="container">
    <div class="block-text">
      <h4>Frederiksberg Rådhus</h4>
      <p>
        Frederiksberg Rådhus
        <br>
        Smallegade 1
        <br>
        2000 Frederiksberg
      </p>
      <a href="#" class="btn">Til kontaktsiden</a>

      <div><b>EAN</b> 123456789</div>
      <div class="margin-bottom-25"><b>CVRM</b> 125698</div>
    </div>

    <div class="block-text">
      <p class="margin-bottom-25">
        <h4>Borgerservice</h4>
        Frederiksberg Rådhus -1. sal
        <br>
        2000 Frederiksberg
        <br>
        <a class="underline" href="mailto:borger@frederiksberg.dk">borgerservice@frederiksberg.dk</a>
      </p>
      <h4>Telefonisk henvendelse </h4>
      <p class="margin-bottom-25">
        Mandag - torsdag kl. 10-15
        <br>
        Fredag kl. 10-13
      </p>
      <div class="margin-bottom-25"><b>Telefon:</b> 3821 2121</div>
      <h4>Personlig henvendelse </h4>
      <p>
        Mandag og torsdag: kl. 9-17
        <br>
        Tirsdag, onsdag og fredag: kl. 9-13
        <br>
        Lørdag, søn- og helligdage: Lukket
      </p>
    </div>
  </div>
{% endblock %}
