{% block blockNavigation %}
  <div class="container">
    <div class="block-navigation">
      {% for i in 0..2 %}
        <div class="block-navigation__item js-navigation__height">
          <div class="block-navigation__inner">
            <h3 class="block-navigation__title"><a href="#">Aktiviteter i kommunen</a></h3>
            <div class="block-navigation__button hidden-on-mobile"><a class="btn btn--bg-gray" href="#">Se alle</a></div>
          </div>
        </div>

        <div class="block-navigation__item js-navigation__height">
          <div class="block-navigation__inner">
            <h3 class="block-navigation__title"><a href="#">Bruger - og borgerundersøgelse</a></h3>
            <div class="block-navigation__list">
              <div class="block-navigation__sub-item"><a href="#">Bestyrelsesansvarsforsikring</a></div>
              <div class="block-navigation__sub-item"><a href="#">rejseforsikring</a></div>
            </div>
            <div class="block-navigation__button hidden-on-mobile"><a class="btn btn--bg-gray" href="#">Se alle</a></div>
          </div>
        </div>

        <div class="block-navigation__item js-navigation__height">
          <div class="block-navigation__inner">
            <h3 class="block-navigation__title"><a href="#">Forsikring</a></h3>
            <div class="block-navigation__list">
              <div class="block-navigation__sub-item"><a href="#">Ehandel</a></div>
              <div class="block-navigation__sub-item"><a href="#">udbud</a></div>
              <div class="block-navigation__sub-item"><a href="#">UngeGuiden</a></div>
              <div class="block-navigation__sub-item"><a href="#">...</a></div>
            </div>
            <div class="block-navigation__button hidden-on-mobile"><a class="btn btn--bg-gray" href="#">Se alle</a></div>
          </div>
        </div>

         <div class="block-navigation__item js-navigation__height">
           <div class="block-navigation__inner">
            <h3 class="block-navigation__title"><a href="#">Indkøb</a></h3>
            <div class="block-navigation__list">
              <div class="block-navigation__sub-item"><a href="#">Affaldssortering</a></div>
              <div class="block-navigation__sub-item"><a href="#">Flagdage</a></div>
              <div class="block-navigation__sub-item"><a href="#">Intern postliste</a></div>
              <div class="block-navigation__sub-item"><a href="#">...</a></div>
            </div>
            <div class="block-navigation__button hidden-on-mobile"><a class="btn btn--bg-gray" href="#">Se alle</a></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
