{% block profile %}
  <div class="container">
    <div class="block-profile bg--bird">
      <div class="block-profile__image"><img src="http://uploads.webflow.com/57f3afc6fbae76684da14d1a/5811bad47ce93128786adcfb_Anne%20Nielsen.jpg"></div>
      <div class="block-profile__content">
        <h4 class="block-profile__name"><a>Anne Nielsen</a></h4>
        <div class="block-profile__mail"><a class="link--underline" href="mailto:">anne.nielsen@frederiksberg.dk</a></div>
        <div class="block-profile__phone text-bold"><label style="display: inline;">Telefon:</label> <a>9876 3312</a></div>
        <div class="block-profile__body">It-afdelingen, Digitaliseringsenheden<br>0.090A, Smallegade 1<br>2000 Frederiksberg</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="block-profile bg--bird block-profile--image-small">
      <div class="block-profile__image"><img src="http://uploads.webflow.com/57f3afc6fbae76684da14d1a/5811bad47ce93128786adcfb_Anne%20Nielsen.jpg"></div>
      <div class="block-profile__content">
        <h4 class="block-profile__name"><a>Anne Nielsen</a></h4>
        <div class="block-profile__mail"><a class="link--underline" href="mailto:">anne.nielsen@frederiksberg.dk</a></div>
        <div class="block-profile__phone text-bold"><label style="display: inline;">Telefon:</label> <a>9876 3312</a></div>
        <div class="block-profile__body">It-afdelingen, Digitaliseringsenheden<br>0.090A, Smallegade 1<br>2000 Frederiksberg</div>
      </div>
    </div>
  </div>
{% endblock %}
