{% set accordion = [
  'Jørgen Glenthøj, borgmester',
  'Brian Holm',
  'Simon Aggesen, rådmand',
  'Michael Vindfeldt, 2. viceborgmester',
]
%}

{% block blockAccordion %}
  <div class="container">
    <div class="block-accordion">
      <h3 class="block-accordion__title">Ofte stillede spørgsmål</h3>
      <div class="block-accordion__close-button js-show-all">Fold alle ud <i class="icon-angle-down"></i></div>
      <div class="block-accordion__list">
        {% for item in accordion %}
          <div class="block-accordion__item">
            <a href="#" class="block-accordion__header js-block-accordion__header">{{ item }}</i></a>
            <div class="block-accordion__content js-block-accordion__content">
              <p>Nulla et lacus vitae dui faucibus posuere vel in est. Curabitur ut ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis? Sed mattis quam quam. Nunc congue felis id augue varius, non facilisis arcu scelerisque. Proin molestie nibh sapien, in varius lacus malesuada a. Proin sit amet velit nunc. Etiam luctus est libero, euismod bibendum turpis semper dignissim. Aenean hendrerit semper mattis. Sed rutrum tempus elementum. Cras bibendum malesuada tristique.</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
