{% block boxHowTo %}
  <div class="container">
    <div class="box-howto bg--white">
      <div class="field__label">Howto</div>
      <h4>1. How to build website with Drupal 8</h4>

      <p>Maecenas semper malesuada velit, sed eleifend turpis tempus eget. Morbi sed elementum sapien, sed dictum magna? Maecenas placerat risus ut mauris pulvinar, at dignissim mi lobortis. Aliquam lobortis at nisl at gravida! Cras eget venenatis risus. Sed rhoncus eros sit amet auctor porta. Vivamus metus.</p>
      <hr>

      <h4>1. Godt at have styr på</h4>

      <p>Vi anbefaler, at du læser siden&nbsp;Loppetorv på Frederiksberg, inden du booker din stadeplade til Frederiksberg Loppetorv.<br>
      Vil du booke stadeplads, skal du have følgende klar:<br><strong>NemID</strong><br><strong>Betalingskort (Dankort, Visa, Mastercard)</strong></p>
      <hr>

      <h4>2. Tryk på "Start selvbetjening"</h4>

      <p>Når du går i gang med selvbetjeningen, vil et nyt vindue åbne, hvor du kan bestille din stadeplads.</p>
      <hr>

      <h4>3. Log ind</h4>

      <p>Log på med din NemID</p>
      <hr>

      <h4>4. Book, afbestil eller udskriv</h4>

      <h5>Book din stadeplads</h5>

      <p>Vælg loppetorv og følg vejledningen, der vil hjælpe dig igennem forløbet med at bestille og efterfølgende betale din stadeplads til Frederiksberg Loppetorv.</p>
      <hr>

      <h5>Udskriv dit stadebevis</h5>

      <p>Når du er logget ind, ser du en liste over husstandens stadepladser, og kan udskrive på printikonet ud for bookingen.&nbsp;Hvis du er flyttet efter du har booket stadeplads, vil du ikke længere kunne se dine bookede stade. Du skal skrive til frb-loppetorv@frederiksberg.dk med oplysning om din nye adresse, så systemet kan opdateres, hvorefter du igen kan se husstandens bookinger.</p>
      <hr>

      <h5>Afbestil din stadeplads</h5>

      <p>Når du er logget ind, ser du en liste over husstandens stadepladser. Ud for stader, der kan afbestilles vil der være et kryds. Kan stadet ikke længere afbestilles, vil der være en hængelås på.&nbsp;<br><em>Hvis du er flyttet efter du har booket stadeplads, vil du ikke længere kunne se dine bookede stade. Du skal skrive til frb-loppetorv@frederiksberg.dk med oplysning om din nye adresse, så systemet kan opdateres, hvorefter du igen kan se husstandens bookinger.</em></p>
      <hr>

      <h4>5. Husk stadebevis</h4>

      <p>Husk at udskrive dit stadebevis. Det skal medbringes på stadedagen og vises ved kontrol.</p>

    </div>
  </div>
{% endblock %}
