{% block breadcrumb %}
  <div class="container">
    <nav class="breadcrumb">
      <ol>
        <li><a href="#">Politik og demokrati</a></li>
        <li><a href="#">Kommunalbestyrelsen</a></li>
        <li><a href="#">Medlemmer</a></li>
      </ol>
    </nav>
  </div>
{% endblock %}
