{% block button %}
<div class="container">
  <ul class="list--inline">
    <li><a class="btn" href="#">Send ansøgning</a></li>
    <li><a class="btn btn--bg-red" href="#">Send ansøgning</a></li>
    <li><a class="btn btn--bg-gray" href="#">Send ansøgning</a></li>
  </ul>
  <ul class="list--inline">
    <li><a class="btn btn--large" href="#">Button Large</a></li>
    <li><a class="btn btn--bg-red btn--large" href="#">Til kontaktsiden</a></li>
    <li><a class="btn btn--bg-gray btn--large" href="#">Button Large Bold</a></li>
  </ul>
</div>
{% endblock %}
