{% block factBox %}
  <div class="container">
    <div class="factbox factbox--small bg--light-green">
      <h4>Kategorier</h4>
      <ul class="list--small">
        <li><a href="#">Affald og miljø</a></li>
        <li><a href="#">Bolig</a></li>
        <li><a href="#">Borger</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block factBox %}
  <div class="container">
    <div class="factbox bg--light-green">
      <h3>Nyttige links</h3>
      <ul class="list--icon list--small">
        <li><a href="#">Læs mere om, hvordan du indstiller din kandidat</a></li>
        <li><a href="#">Læs mere om frivilligt arbejde</a></li>
        <li><a href="#">Borger</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block factBox %}
  <div class="container">
    <div class="factbox factbox--small factbox--white">
      <a class="btn btn--bg-red btn--large" href="#">Start selvbetjening</a>
    </div>
  </div>
{% endblock %}

{% block factBox %}
  <div class="container">
    <div class="factbox factbox--small factbox--white">
      <h3>Sådan gør du</h3>
      <h4>1. Godt at have styr på</h4>
      <p>Vi anbefaler, at du læser siden&nbsp;Loppetorv på Frederiksberg, inden du booker din stadeplade til Frederiksberg Loppetorv.<br>Vil du booke stadeplads, skal du have følgende klar:<br><strong>NemID</strong><br><strong>Betalingskort (Dankort, Visa, Mastercard)</strong></p>
    </div>
  </div>
{% endblock %}
