{% block gridColumn %}
  <div class="container">
    <h2>Contact</h2>
    <div class="grid-2col block-text">
      <div class="grid-2col__item">
        <p class="margin-bottom-25">Frederiksberg Rådhus -1. sal<br>
        2000 Frederiksberg<br><a class="underline" href="mailto:borger@frederiksberg.dk">borgerservice@frederiksberg.dk</a></p>
        <div class="margin-bottom-25"><b>Telefon:</b> 3821 2121</div>
        <h4>Personlig henvendelse</h4>
        <p>Mandag og torsdag: kl. 9-17<br>
        Tirsdag, onsdag og fredag: kl. 9-13<br>
        Lørdag, søn- og helligdage: Lukket</p>
      </div>
      <div class="grid-2col__item">
        <h4>Frederiksberg Rådhus</h4>
        <p>
          Frederiksberg Rådhus
          <br>
          Smallegade 1
          <br>
          2000 Frederiksberg
        </p>
        <h4>Telefonisk henvendelse</h4>
        <p class="margin-bottom-25">Mandag - torsdag kl. 10-15<br>
        Fredag kl. 10-13</p>
        <div><b>EAN</b> 123456789</div>
        <div class="margin-bottom-25"><b>CVRM</b> 125698</div>
      </div>
    </div>
  </div>
{% endblock %}
