{% block heading %}
<div class="container">
  <h1>H1 | Open Sans Semi Bold | 41px, Mobile 28px</h1>
  <h2>H2 | Open Sans Bold | 32px, Mobile 23px</h2>
  <h3>H3 | Open Sans Bold | 23px, Mobile 18px</h3>
  <h4>H4 | Open Sans Bold | 16px</h4>
  <h5>H5 | Open Sans Bold | 15px</h5>
  <h6>H6 | Open Sans Bold | 14px</h6>
  <br>
  <h1><a href="#">H1 | Open Sans | 41px, Mobile 28px</a></h1>
  <h2><a href="#">H2 | Open Sans Semi Bold | 32px, Mobile 23px</a></h2>
  <h3><a href="#">H3 | Open Sans Semi Bold | 23px, Mobile 18px</a></h3>
  <h4><a href="#">H4 | Open Sans Semi Bold | 16px</a></h4>
  <h5><a href="#">H5 | Open Sans Semi Bold | 15px</a></h5>
  <h6><a href="#">H6 | Open Sans Semi Bold | 14px</a></h6>
</div>
{% endblock %}
