{% block heroBanner %}
  <div class="hero-banner">
    <div class="hero-banner__image"><img src="http://uploads.webflow.com/57cd1a6ddb4fc5cf017a24df/57cd1a6ddb4fc5cf017a24f6_kube2.jpg"></div>
    <div class="hero-banner__content">
      <div class="hero-banner__inner">
          <div class="hero-banner__title">3800m2 nyt mødested for byens borgere, nyskabende arkitektur og rammer der udforsker grænserne mellem kultur, sundhed og bevægelse.</div>
          <div class="hero-banner__link"><a class="btn btn--large" href="#">Lær mere om KU.BE</a></div>
      </div>
    </div>
  </div>
{% endblock %}
