{% block icon %}
<div class="container">
  <ul class="list--inline text-center">
    <li>
      <i class="icon-check"></i>
      <div>icon-check</div>
    </li>
    <li>
      <i class="icon-search"></i>
      <div>icon-search</div>
    </li>
    <li>
      <i class="icon-angle-up"></i>
      <div>icon-angle-up</div>
    </li>
    <li>
      <i class="icon-angle-down"></i>
      <div>icon-angle-down</div>
    </li>
    <li>
      <i class="icon-bubble"></i>
      <div>icon-bubble</div>
    </li>
    <li>
      <i class="icon-calendar"></i>
      <div>icon-calendar</div>
    </li>
    <li>
      <i class="icon-groups"></i>
      <div>icon-groups</div>
    </li>
    <li>
      <i class="icon-market"></i>
      <div>icon-market</div>
    </li>
    <li>
      <i class="icon-close"></i>
      <div>icon-close</div>
    </li>
    <li>
      <i class="icon-calendar"></i>
      <div>icon-calendar</div>
    </li>
    <li>
      <i class="icon-monitor"></i>
      <div>icon-monitor</div>
    </li>
    <li>
      <i class="icon-arrow-up"></i>
      <div>icon-arrow-up</div>
    </li>
    <li>
      <i class="icon-arrow-down"></i>
      <div>icon-arrow-down</div>
    </li>
    <li>
      <i class="icon-arrow-left"></i>
      <div>icon-arrow-left</div>
    </li>
    <li>
      <i class="icon-arrow-right"></i>
      <div>icon-arrow-right</div>
    </li>
    <li>
      <i class="icon-user"></i>
      <div>icon-user</div>
    </li>
    <li>
      <i class="icon-phone"></i>
      <div>icon-phone</div>
    </li>
    <li>
      <i class="icon-envelope"></i>
      <div>icon-envelope</div>
    </li>
  </ul>
</div>
{% endblock %}
