{% block icon %}
<div class="container">
  <ul class="list--inline text-center">
    <li>
      <i class="icon-search"></i>
      <div>icon-search</div>
    </li>
    <li>
      <i class="icon-facebook"></i>
      <div>icon-facebook</div>
    </li>
    <li>
      <i class="icon-angle-up"></i>
      <div>icon-angle-up</div>
    </li>
    <li>
      <i class="icon-angle-down"></i>
      <div>icon-angle-down</div>
    </li>
    <li>
      <i class=" icon-arrow-left"></i>
      <div> icon-arrow-left</div>
    </li>
    <li>
      <i class="icon-arrow-right"></i>
      <div>icon-arrow-right</div>
    </li>
    <li>
      <i class="icon-menu"></i>
      <div>icon-menu</div>
    </li>
    <li>
      <i class="icon-light"></i>
      <div>icon-light</div>
    </li>
    <li>
      <i class="icon-bin"></i>
      <div>icon-bin</div>
    </li>
    <li>
      <i class="icon-kite"></i>
      <div>icon-kite</div>
    </li>
    <li>
      <i class="icon-close"></i>
      <div>icon-close</div>
    </li>
    <li>
      <i class="icon-calendar"></i>
      <div>icon-calendar</div>
    </li>
    <li>
      <i class="icon-play"></i>
      <div>icon-play</div>
    </li>
    <li>
      <i class="icon-control-play"></i>
      <div>icon-control-play</div>
    </li>
  </ul>
</div>
{% endblock %}
