{% block paragraphs %}
<div class="container">
  <h4>P1 | Open Sans Regular | 16px with color &#35;3f3f3f have one class for this color text</h4>
  <p>Nulla et lacus vitae dui faucibus posuere vel in est.<i>Curabitur ut ullamcorper tortor.</i>  Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis? Sed mattis quam quam. <b>Proin sit amet velit nunc.</b>Nunc congue felis id augue varius, non facilisis arcu scelerisque. Proin molestie nibh sapien, in varius lacus malesuada a. Etiam luctus est libero, euismod bibendum turpis semper dignissim. <span class="underline">Aenean hendrerit semper mattis.</span> Sed rutrum tempus elementum. Cras bibendum malesuada tristique. </p>

  <h4 class="green">P3 | Open Sans Regular | 16px with color &#35;00502d, have one class for this color text</h4>
  <p class="green">Nulla et lacus vitae dui faucibus posuere vel in est. Curabitur ut ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis? Sed mattis quam quam. Nunc congue felis id augue varius, non facilisis arcu scelerisque. Proin molestie nibh sapien, in varius lacus malesuada a. Proin sit amet velit nunc. Etiam luctus est libero, euismod bibendum turpis semper dignissim. Aenean hendrerit semper mattis. Sed rutrum tempus elementum. Cras bibendum malesuada tristique. </p>

  <h4 class="light-green">P3 | Open Sans Regular | 16px with color &#35;648f14, have one class for this color text</h4>
  <p class="light-green">Nulla et lacus vitae dui faucibus posuere vel in est. Curabitur ut ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis? Sed mattis quam quam. Nunc congue felis id augue varius, non facilisis arcu scelerisque. Proin molestie nibh sapien, in varius lacus malesuada a. Proin sit amet velit nunc. Etiam luctus est libero, euismod bibendum turpis semper dignissim. Aenean hendrerit semper mattis. Sed rutrum tempus elementum. Cras bibendum malesuada tristique. </p>

  <h4>P2 | Open Sans Semi Bold | 16px</h4>
  <p class="text-bold">Nulla et lacus vitae dui faucibus posuere vel in est. Curabitur ut ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis? Sed mattis quam quam. Nunc congue felis id augue varius, non facilisis arcu scelerisque. Proin molestie nibh sapien, in varius lacus malesuada a. Proin sit amet velit nunc. Etiam luctus est libero, euismod bibendum turpis semper dignissim. Aenean hendrerit semper mattis. Sed rutrum tempus elementum. Cras bibendum malesuada tristique. </p>

  <h4>P2 | Open Sans Light | 19px</h4>
  <p class="text-large">Nulla et lacus vitae dui faucibus posuere vel in est. Curabitur ut ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis? Sed mattis quam quam. Nunc congue felis id augue varius, non facilisis arcu scelerisque. Proin molestie nibh sapien, in varius lacus malesuada a. Proin sit amet velit nunc. Etiam luctus est libero, euismod bibendum turpis semper dignissim. Aenean hendrerit semper mattis. Sed rutrum tempus elementum. Cras bibendum malesuada tristique. </p>
</div>
{% endblock %}
