{% block Tooltip %}
  <div class="container">
    Udfyld venligst formularen (icon tooltip hover - this is suppose to be on hover on top of the small icon)
    <div data-tipso="<p>Dette er et cirka tal, men kommunen forudser at 2.500.000 kubikmeter indvindes via Frederiksberg Vandværk</p>" class="tooltip"><i class="icon-info_outline"></i></div>
    <br>
    <br>
    <div class="form--has-tooltip"><input type="text" maxlength="60" size="60" class="form-text"><div data-tipso="<p>Dette er et cirka tal, men kommunen forudser at 2.500.000 kubikmeter indvindes via Frederiksberg Vandværk</p>" class="tooltip tooltip--small"><i class="icon-info_outline"></i></div></div>
  </div>
{% endblock %}
