// Header style
.toolbar-horizontal {
  &.toolbar-tray-open {
    .header {
      &__sticky {
        @include susy-media(desktop) {
          top: rem(80px);
        }
      }
    }
  }
}

.toolbar-vertical,
.toolbar-horizontal {
  .header {
    &__sticky {
      @include susy-media(desktop) {
        top: rem(39px);
      }
    }
  }
}

.block-system-branding-block {
  .site-logo {
    display: inline-block;
    height: rem(50px);
    padding-top: rem(9px);
    width: 100%;

    @include susy-media(desktop-wide) {
      padding-top: rem(7px);
    }

    img {
      display: inline-block;
      max-width: 100%;
      vertical-align: middle;
    }
  }
}

.header {
  padding-top: rem(50px);
  transition: .3s;

  &.has-warning {
    padding-top: rem(102px);
  }

  &__sticky {
    background-color: $green-9d;
    border-bottom: rem(2px) none $green-43;
    box-shadow: 0 rem(3px) rem(3px) 0 rgba(0, 0, 0, .1);
    height: auto;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    z-index: 9;
  }

  &__left {
    float: right;
    width: rem(115px);
    padding-right: rem(15px);

    @include susy-media(desktop-small) {
      padding-right: 0;
      width: rem(100px);
    }
  }

  &__wrap {
    margin: 0 auto;
    max-width: rem(1420px);
    padding: rem(0 10px);
  }
}

.region-header {
  @include susy-media(mobileDesktopSmallOnly) {
    background: $green-f7;
    bottom: 0;
    left: rem(-10px);
    position: fixed;
    top: 0;
    transform: translate(-100%, 0);
    transition: .5s;
    width: calc(90% + 10px);
    overflow-y: auto;

    .is-active & {
      transform: translate(0, 0);
      transition: .5s;
      box-shadow: rem(0 0 8px 0) rgba(0, 0, 0, .2);
    }
  }
}

.region-header-bottom {
  padding: rem(23px 15px 21px);
  position: relative;
  z-index: 2;

  @include susy-media(mobileLarge) {
    display: table;
    padding: rem(23px 30px 21px);
    width: 100%;
  }
}

.block-search-link,
.block-language {
  float: left;

  @include susy-media(mobileDesktopSmallOnly) {
    border-bottom: rem(1px) solid $green-e1;
    display: block;
    float: none;
  }

  a {
    color: $primary-color;
    display: inline-block;
    font-size: rem(14.5px);
    font-weight: 700;
    letter-spacing: rem(-.5px);
    min-width: rem(62px);
    padding: rem(13px 12px 13px 25px);
    text-align: center;
    text-transform: uppercase;

    @include susy-media(mobileDesktopSmallOnly) {
      min-width: inherit;
      font-size: rem(15px);
      letter-spacing: rem(.9px);
      padding: rem(17px 35px 18px);
      display: block;
      text-align: left;
    }

    &:hover {
      color: $white;

      @include susy-media(mobileDesktopSmallOnly) {
        color: $green-da;
      }
    }
  }
}

.block-language a {
  padding-left: rem(18px);

  @include susy-media(mobileDesktopSmallOnly) {
    padding: rem(17px 40px 18px);
  }
}

.block-search-link {
  i {
    &:before {
      font-size: rem(12px);
      font-weight: 700;
      margin-right: rem(5px);
      padding: 0 rem(5px);
    }
  }
}
