// Navigation.
.menu-icon {
  float: left;
  font-size: rem(35px);
  line-height: 1;
  padding: rem(7px 10px);

  @include susy-media(desktop-small) {
    display: none;
  }

  i {
    cursor: pointer;
    line-height: 1;
  }
}


.main-menu {
  .menu-icon {
    font-size: rem(20px);
    padding: rem(15px 40px);
    width: 100%;

    i {
      background: $primary-color;
      border-radius: 100%;
      color: $white;
      display: block;
      height: rem(45px);
      line-height: 1.5;
      padding: rem(9px 0);
      text-align: center;
      width: rem(45px);
    }
  }

  li {
    @include susy-media(mobileDesktopSmallOnly) {
      border-bottom: 1px solid $green-e1;
      clear: both;
    }

    @include susy-media(desktop-small) {
      float: left;
    }

    a {
      @include opensans;
      color: $primary-color;
      font-weight: 700;
      display: inline-block;
      font-size: rem(14.5px);
      letter-spacing: rem(-.5px);
      padding: rem(13px 15px);
      text-transform: uppercase;
      transition: .35;

      @include susy-media(mobileDesktopSmallOnly) {
        background: none;
        display: block;
        font-size: rem(15px);
        letter-spacing: rem(.9px);
        padding: rem(17px 40px 18px);
      }

      &:hover {
        color: $green-da;
      }

      &.is-active {
        background-color: rgba(0, 80, 45, .9);
        color: $gray-e6;
      }
    }
  }
}
