{% block footer %}
  <footer class="footer">
    <div class="footer__wrap">
      <div class="footer__item footer__col_one">
        <div class="region region-footer-col-one">
          <nav  class="block-menu block">
            <h2 id="block-footer-menu">Genveje</h2>
            <ul region="footer_col_one" class="list">
                <li class="menu-icon-8">
                    <a href="">Nyheder og presserum</a>
                </li>
                <li class="menu-icon-6">
                    <a href="">Kommune</a>
                </li>
                <li class="menu-icon-1">
                    <a href="">Aktuelle høringer</a>
                </li>
                <li class="menu-icon-3">
                    <a href="">Digitale bykort</a>
                </li>
                <li class="menu-icon-7">
                    <a href="">Læs højt</a>
                </li>
                <li class="menu-icon-5">
                    <a href="">Jobs</a>
                </li>
                <li class="menu-icon-4">
                    <a href="">In English</a>
                </li>
                <li class="menu-icon-2">
                    <a href="">Cookies</a>
                </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer__item footer__col_two">
        <div class="region region-footer-col-two">
          <div class="block">
            <h2>Frederiksberg Kommune</h2>
            <div class="field field--name-body">
              <div class="block-text">
                <p>Frederiksberg Rådhus
                    <br> Smallegade 1
                    <br> 2000 Frederiksberg</p>
                <a href="#" class="btn margin-bottom-25">Til kontaktsiden</a>
                <div><b>EAN</b> 123456789</div>
                <div class="margin-bottom-25"><b>CVRM</b> 125698</div>
              </div>
              </div>
          </div>
        </div>
      </div>
      <div class="footer__item footer__col_three">
        <div class="region region-footer-col-three">
          <div class="block">
            <h2>Borgerservice</h2>
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item quickedit-field">
              <div class="block-text">
                <p class="margin-bottom-25">Frederiksberg Rådhus -1. sal
                  <br> 2000 Frederiksberg
                  <br><a href="mailto:borger@frederiksberg.dk" class="underline">borgerservice@frederiksberg.dk</a></p>
                <h4>Telefonisk henvendelse</h4>
                <p class="margin-bottom-25">Mandag - torsdag kl. 10-15
                    <br> Fredag kl. 10-13</p>
                <div class="margin-bottom-25"><b>Telefon:</b> 3821 2121</div>
                <h4>Personlig henvendelse</h4>
                <p>Mandag og torsdag: kl. 9-17
                  <br> Tirsdag, onsdag og fredag: kl. 9-13
                  <br> Lørdag, søn- og helligdage: Lukket</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
