// Helper classes
.text-large {
  @include opensans-light;
  font-size: rem(16px);
  line-height: rem(25px);
  margin-bottom: rem(30px);
  margin-top: rem(18px);

  @include susy-media(tablet) {
    font-size: rem(18.9px);
    line-height: rem(26px);
  }

  p {
    margin-bottom: 0;
  }
}

.text-bold {
  @include opensans-semibold;
}

.green {
  color: $green;
}

.light-green {
  color: $green-64;
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}

%bg,
.bg {
  &--white {
    background-color: $white;
  }

  &--light-tan {
    background-color: $gray-f5;
  }

  &--light-grey {
    background-color: $gray-fc;
  }

  &--light-green {
    background-color: $green-e1;
    background-image: linear-gradient(266deg, $green-e1 1%, $green-da);
  }

  &--green {
    background-image: linear-gradient(180deg, rgba(111, 160, 87, .36), rgba(111, 160, 87, .36)), linear-gradient(0deg, $green-e1 1%, $green-b6);
  }

  &--bird {
    background-image: url($image-path + 'bg-bird.jpg');
    background-position: 50% 50%;
    background-repeat: repeat;
  }

  &--marked {
    background-color: rgba(59, 89, 152, .06);
    background-image: url($image-path + 'bg-marked.jpg');
    background-position: 50% 50%;
  }
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.hidden-on-mobile {
  @include susy-media(mobileOnly) {
    display: none !important;
  }
}

.hidden-on-tablet {
  @include susy-media(tablet) {
    display: none !important;
  }
}

.bg-apple {
  .bg-image {
    background-image: url('../images/apple.svg');
  }
}

.bg-image {
  background-attachment: fixed;
  background-image: url('../images/bird.svg');
  background-position: 50% rem(-27px);
  background-repeat: repeat;
  background-size: 60px auto;
  bottom: 0;
  height: 100%;
  opacity: .05;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.margin-bottom-25 {
  margin-bottom: rem(25px);
}

.no-margin-botton {
  margin-bottom: 0 !important;
}

%box-shadow,
.box-shadow {
  background-color: $white;
  box-shadow: 1px 1px 14px 0 rgba($black, .11);
}

%grid-2col,
.grid-2col {
  margin: rem(0 -15px);

  &__item {
    padding: rem(0 15px);

    @include susy-media(tablet) {
      float: left;
      width: 50%;
    }
  }
}

%icon-position,
.icon-position {
  &:before {
    @extend %icons;
    font-size: rem(23px);
    left: rem(11px);
    line-height: 1.7;
    position: absolute;
    top: 0;
  }
}
