.block-profile {
  @extend %clearfix;
  margin-bottom: rem(10px);
  padding: rem(30px 20px 35px);

  @include susy-media(mobileLarge) {
    padding: rem(20px 30px 35px);
  }

  &__image {
    margin-bottom: rem(15px);
    text-align: center;

    @include susy-media(mobileLarge) {
      float: left;
      margin-top: rem(10px);
    }

    img {
      border-radius: 100%;
      height: rem(150px);
      margin-right: rem(20px);
      width: rem(150px);
    }
  }

  &__content {
    overflow: hidden;
  }

  &__name {
    margin-bottom: rem(2px);
    margin-top: 0;
  }

  &__mail,
  &__phone {
    margin-bottom: rem(27px);
    word-break: break-all;
  }

  &__body {
    font-size: rem(15.5px);
    line-height: rem(26px);
  }

  &--image-small {
    .block-profile {
      &__image {
        img {
          height: rem(60px);
          width: rem(60px);
        }
      }
    }
  }
}
