.block-accordion {
  padding-bottom: rem(40px);

  &__title {
    float: left;
    margin-bottom: rem(20px);
    width: 50%;

    @include susy-media(mobileLandscape) {
      width: 72%;
    }

    @include susy-media(tablet) {
      width: 80%;
    }
  }

  &__close-button {
    @include opensans-semibold;
    color: $primary-color;
    cursor: pointer;
    float: right;
    font-size: rem(11.5px);
    margin-bottom: rem(5px);
    margin-top: rem(17px);
    padding-right: rem(7px);
    text-align: right;
    text-transform: uppercase;

    i:before {
      font-size: rem(12px);
      font-weight: 600;
      padding-left: rem(9px);
    }
  }

  &__list {
    clear: both;
  }

  &__header {
    @extend .icon-angle-down;
    @include opensans-bold;
    background-color: $white;
    border-radius: 0;
    border: rem(1px) solid $gray-e6;
    cursor: pointer;
    display: block;
    font-size: rem(15px);
    margin-top: rem(-1px);
    padding: rem(18px 40px 18px 20px);
    position: relative;
    transition: all 400ms ease 0s;

    @include susy-media(mobileLandscape) {
      padding: rem(15px 65px 16px 25px);
    }

    &:before {
      @extend %icons;
      font-size: rem(22px);
      font-weight: 500;
      line-height: 2.725;
      position: absolute;
      right: rem(20px);
      top: 0;

      @include susy-media(mobileLandscape) {
        right: rem(30px);
      }
    }

    &.active {
      background-color: $white;
    }

    &:hover {
      background-color: $green-e1;
      color: $primary-color;
    }
  }

  &__content {
    @extend %clearfix;
    height: 0;
    opacity: 0;
    overflow-y: hidden;
    font-size: rem(15px);

    @include susy-media(mobileLandscape) {
      font-size: $base-font-size;
    }

    &.active {
      background-color: $white;
      display: block;
      height: auto;
      opacity: 1;
      overflow-y: visible;
      padding: rem(30px);
      transition: opacity 500ms ease 0s;
      width: 100%;
    }

    p {
      margin-bottom: rem(20px);
    }

    // Style table member
    table {
      margin-bottom: 0 !important;
      margin-top: 0;
      width: 100% !important;

      td {
        font-size: rem(15px);
        line-height: rem(26px);

        @include susy-media(tablet) {
          padding: rem(6px 30px 10px 0) !important;
          width: calc(79% / 2) !important;

          &:first-of-type {
            width: 21% !important;
            padding: rem(10px 20px 10px 0) !important;
          }
        }

        p {
          margin-bottom: 0;
        }
      }

      a {
        font-size: rem(15px);
      }

      tbody {
        tr {
          border-bottom: 0;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .table-responsive {
      margin-top: 0;

      li {
        @extend %clearfix;

        @include susy-media(mobileLarge) {
          > p {
            float: left;
            margin: 0 !important;
            padding: rem(6px 20px 10px 0) !important;
            width: calc(79% / 2) !important;

            &:first-of-type {
              width: 21% !important;
              padding: rem(10px 20px 10px 0) !important;
            }
          }
        }
      }
    }
  }
}
