.block-profile {
  @extend %clearfix;
  padding: rem(30px 20px 38px);
  margin-bottom: rem(10px);

  @include susy-media(mobileLarge) {
    padding: rem(20px 30px 38px);
  }

  &__image {
    margin-bottom: rem(15px);
    text-align: center;

    @include susy-media(mobileLarge) {
      float: left;
      margin-top: rem(10px);
      width: rem(150px);
    }

    img {
      border-radius: 100%;
      height: rem(150px);
      width: rem(150px);
    }

    + .block-profile__content {
      @include susy-media(mobileLarge) {
        margin-left: rem(172px);
      }
    }
  }

  &__name {
    margin-bottom: rem(2px);
    margin-top: 0;
  }

  &__body {
    line-height: rem(26px);
  }

  &__mail {
    word-break: break-all;
  }
}
