.block-navigation {
  @extend %clearfix;
  padding-bottom: rem(10px);
  padding-top: rem(4px);

  @include susy-media(tablet) {
    padding-bottom: rem(16px);
  }

  &__item {
    padding: rem(2px);

    @include susy-media(tablet) {
      float: left;
      width: 50%;

      &:nth-child(2n + 1) {
        clear: both;
      }
    }

    @include susy-media(desktop) {
      width: 33.33%;

      &:nth-child(2n + 1) {
        clear: none;
      }

      &:nth-child(3n + 1) {
        clear: both;
      }
    }
  }

  &__inner {
    background-color: rgba(157, 177, 171, .1);
    height: 100%;
    padding: rem(10px 20px 20px);
    border-bottom: rem(1px) solid $green-e1;

    @include susy-media(tablet) {
      border-bottom: 0;
    }

    &:hover {
      background-color: $green-f7;
    }
  }

  &__list {
    @extend %clearfix;
  }

  &__sub-item {
    @include opensans-semibold;
    float: left;
    font-size: rem(15px);
    line-height: rem(22px);
    padding-right: rem(2px);

    &:after {
      content: '/';
      font-size: rem(17px);
    }

    &:last-of-type {
      &:after {
        content: '';
      }
    }

    a {
      color: $gray;

      &:hover {
        color: $primary-color-hover;
      }
    }
  }

  &__title {
    font-size: rem(19px);
    line-height: rem(22px);
    margin-bottom: rem(9px);
  }

  &__button {
    margin-top: rem(22px);

    .btn {
      @include opensans-bold;

      &--bg-gray {
        &:active,
        &:hover {
          background-color: $green-59;
          color: $white;
        }
      }
    }
  }
}
