.meta {
  font-size: rem(14px);
  margin-bottom: rem(8px);
  overflow: hidden;

  &__date,
  &__link {
    float: left;
  }

  &__comment-count {
    float: right;

    a {
      &,
      &:focus,
      &:visited,
      &:hover {
        color: $green-64;
      }
    }

    i {
      font-size: rem(18px);
      line-height: 0;
    }
  }

  &__item {
    &:first-of-type {
      padding-right: rem(3px);
    }
  }

  &__date {
    @include opensans-semibold;
    color: $gray-92;
  }

  &__link {
    @include opensans-semibold;
    text-transform: uppercase;

    &.link--green {
      a {
        &,
        &:focus,
        &:visited,
        &:hover {
          color: $green-64;
        }
      }
    }
  }

  &--text-white {
    .meta {
      &__date {
        @include opensans-light;
        color: $white;
      }
    }
  }
}

.block-list-teaser {
  padding-bottom: rem(55px);
  padding-top: rem(24px);

  &__item {
    border-bottom: rem(1px) solid $green-9d;
    margin-bottom: rem(28px);
    padding-bottom: rem(5px);

    &:last-of-type {
      margin-bottom: rem(42px);
    }
  }

  &__title {
    font-size: rem(22.4px);
    line-height: rem(27px);
    margin-bottom: rem(5px);
    margin-top: 0;
  }

  &__image {
    line-height: 0;
    margin-bottom: rem(19px);
    margin-top: rem(25px);

    &.block-media {
      margin-bottom: 0;
    }
  }

  &__body {
    margin-top: 0;

    a {
      color: $gray;

      &:hover {
        color: $primary-color-hover;
        cursor: pointer;
      }
    }
  }
}
