.block-social-share-block {
  .factbox {
    padding-bottom: rem(12px);
    padding-top: rem(7px);
  }

  h3,
  h4 {
    margin-bottom: rem(13px);
  }
}

.box-single-member {
  &__inner {
    background-color: $green-d0;
    overflow: hidden;
    padding: rem(20px 20px 26px 15px);
  }

  &__image {
    float: left;

    img {
      border-radius: 100%;
      height: rem(35px);
      margin-right: rem(10px);
      width: rem(35px);
    }
  }

  &__content {
    overflow: hidden;
  }

  &__mail {
    display: inline-block;
    font-size: rem(14px);
    word-break: break-all;
  }

  &__name {
    font-size: rem(16px);
    margin-bottom: rem(10px);
  }
}

.block-social {
  &__list-sub {
    position: relative;

    .box-single-member {
      display: none;
      min-width: rem(280px);
      position: absolute;
      left: -170%;
      top: rem(28px);
      z-index: 7;

      @include susy-media(mobileLandscape) {
        min-width: rem(400px);
      }

      @include susy-media(desktop) {
        left: auto;
        right: 0;
      }

      &.active {
        display: block;
      }
    }
  }

  &__list {
    @include opensans-semibold;
    margin: 0;
  }

  .list {
    &,
    &--inline,
    &--tiny {
      overflow: visible;
    }
  }
}

.block-social-link {
  float: left;
  line-height: 1;
  padding: rem(15px);

  @include susy-media(mobileDesktopSmallOnly) {
    border-bottom: rem(1px) solid $green-f7;
    display: block;
    float: none;
    line-height: 1.5;
    padding: rem(16px 33px 14px);
  }

  a {
    color: $gray-92;
    font-size: rem(14px);
    margin: rem(0 3px);

    @include susy-media(mobileDesktopSmallOnly) {
      font-size: rem(18px);
    }

    &:hover {
      color: $primary-color-hover;
    }

    i:before {
      font-weight: 600;
    }
  }
}
