.block-list-content {
  margin-bottom: rem(15px);

  &__item {
    margin-bottom: rem(10px);
  }

  &__title {
    line-height: rem(24px);
    margin-bottom: 0;
    margin-top: 0;
  }

  &__text {
    font-size: rem(15px);
    line-height: rem(22px);

    a {
      color: $gray;

      &:hover {
        color: $primary-color-hover;
      }
    }

    p {
      margin-bottom: rem(10px);
    }
  }

  .meta {
    margin-bottom: 0;
  }
}

.block-it-drift,
.block-aktivite,
.block-market {
  margin-bottom: rem(20px);

  .pane-title {
    @extend %pane-title-icon;
    padding-left: rem(40px);

    &:before {
      @extend %icon-position;
      font-size: rem(29px);
    }
  }

  &__more-link {
    padding: rem(10px) 0;
  }
}

.block-it-drift {
  .pane-title {
    @extend .icon-monitor;
  }
}

.block-aktivite {
  .pane-title {
    @extend .icon-calendar;

    &:before {
      font-size: rem(32px);
      top: rem(-5px);
    }
  }
}

.block-market {
  margin-left: rem(-15px);
  margin-right: rem(-15px);

  @include susy-media(mobileLandscape) {
    margin-left: 0;
    margin-right: 0;
  }

  .pane-title {
    @extend .icon-market;
    line-height: 1.3;
    margin-bottom: rem(15px);

    &:before {
      font-size: rem(32px);
      top: rem(-5px);
    }
  }

  .block-list-content {
    &__item {
      margin-bottom: 20px;
    }
  }
}
