// List style
%list,
.list {
  &,
  &--inline,
  &--small,
  &--tiny,
  &--icon,
  &--ordered {
    @include opensans-bold;
    margin: 0;
    overflow: hidden;

    li {
      margin-bottom: rem(10px);
      line-height: rem(19px);

      a {
        display: block;
      }
    }
  }

  &--inline {
    @extend %clearfix;
    margin-bottom: rem(20px);

    li {
      float: left;
      margin-right: rem(15px);
    }
  }

  &--tiny {
    li {
      font-size: rem(12px);
    }

    .list--small {
      @extend %list--small;
    }
  }

  &--icon {
    li {
      line-height: rem(26px);
      margin-bottom: rem(8px);

      &.active {
        > a {
          color: $green-64;
          margin-bottom: rem(8px);
          padding: rem(10px 0 0 15px);

          &:before {
            @extend .icon-arrow-right:before;
          }
        }

        &.expanded > a {
          &:before {
            @extend .icon-arrow-down:before;
          }
        }

        > ul {
          padding-left: rem(20px);

          a {
            padding-top: 0;
            padding-bottom: 0;

            &:before {
              content: '';
            }
          }

          li {
            &.active {
              margin-bottom: 0;

              > a {
                padding-left: rem(20px);

                &:before {
                  @extend .icon-arrow-right:before;
                }
              }

              &.expanded {
                > a {
                  &:before {
                    @extend .icon-arrow-down:before;
                  }
                }
              }
            }
          }
        }
      }

      a {
        padding-left: rem(11px);

        &:before {
          @extend %icons;
          @extend .icon-arrow-right:before;
          font-size: rem(14px);
          margin-right: rem(8px);
        }
      }
    }

    > li {
      margin-bottom: rem(14px);

      &.active {
        border-bottom: 2px solid $green-64;
        border-top: 2px solid $green-64;
      }
    }
  }

  &--ordered {
    padding-left: rem(40px);
    line-height: 1.4;

    li {
      position: relative;
      margin-bottom: rem(5px);

      &:before {
        background: $primary-color;
        border-radius: 100%;
        content: '';
        height: rem(6px);
        left: rem(-15px);
        position: absolute;
        top: rem(8px);
        width: rem(6px);
      }
    }
  }

  li {
    font-size: rem(16px);

    .list--tiny {
      @extend %list--tiny;
    }

    .list--small {
      @extend %list--small;
    }
  }
}

ul.tabs {
  max-width: rem(1400px);
  margin: 0 auto;
  padding: rem(10px 30px 0 30px);
}
