.pager {
  &__items {
    @extend %clearfix;
    margin: rem(23px 0);
    text-align: center;

    @include susy-media(mobileLarge) {
      margin: rem(30px 0 23px);
    }
  }

  &__item {
    display: inline-block;
    font-size: rem(15.5px);
    padding: 0;

    a {
      display: inline-block;
      padding: rem(5px 4px 0);
      color: $green-8e;

      &:hover {
        color: $green-9d;
        cursor: pointer;
      }
    }

    &.is-active {
      a {
        color: $primary-color;
      }
    }

    &--previous {
      float: left;
    }

    &--next {
      float: right;
    }

    &--previous,
    &--next {
      font-size: rem(14px);

      a {
        @include opensans-bold;
        background-color: $gray-e6;
        border-radius: rem(100px);
        line-height: rem(22px);
        padding: rem(7px 15px 8px);
        color: $primary-color;

        &:hover {
          background-color: $green-59;
          color: $white;
        }
      }
    }

    &--ellipsis {
      @include opensans-light;
      color: $primary-color;
    }

    &--last,
    &--first {
      display: none;
    }
  }
}

.pager-load-more {
  .pager {
    &__item {
      a {
        @extend .btn;
        @extend .btn--large;
      }
    }
  }
}
